<% layout('layout/boilerplate.ejs') %>
    <h1>Destination Detail</h1>
    <h2><%=destDetail.name%></h2>
    <h2><%=destDetail.price%></h2>
    <h2><%=destDetail.description%></h2>
    <h2><%=destDetail.location%></h2>
    <a href="/destination"><button>Home</button></a>
    <form action="/destination/<%=destDetail.id%>/delete?_method=DELETE" method="post"><button>Delete</button></form>
