<% layout('layout/boilerplate.ejs') %>
<link type="text/css" rel="stylesheet" href="/css/ratingStars.css">

<div class="container">
<div class="row">
<div class="col-8">
<div class="card mt-5 mb-5">
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <% if(destDetail.image.length>1){ %>
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <% for(i=1;i<destDetail.image.length;i++){ %>
        <li data-target="#carouselExampleIndicators" data-slide-to="<%i%>"></li>
        <%} %>
    </ol>
    <%} %>
    <div class="carousel-inner">
      <% for(i=0;i<destDetail.image.length;i++){ %>
      <div class="carousel-item <%= i===0 ? 'active' : ''%>">
        <img class="d-block w-100" src="<%=destDetail.image[i].URL%>" alt="slide">
      </div>
      <%} %>
    </div>
    <% if(destDetail.image.length>1){ %>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
    <%} %>
  </div>
  <div class="card-body">
      <h5 class="card-title"><%=destDetail.name%></h5>
      <p class="card-text"><%=destDetail.description%></p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">$<%=destDetail.price%></li>
      <li class="list-group-item"><%=destDetail.location%></li>
      <li class="list-group-item">Submitted by @<%=destDetail.author.username%></li>

    </ul>
    <% if(currentUser && destDetail.author.equals(currentUser._id)) {%>
    <div class="card-body">
       
        <form class="d-inline" action="/destination/<%=destDetail.id%>/delete?_method=DELETE" method="post"><button class="btn btn-info d-inline">Delete</button></form>
        
        
          <a class="d-inline" href="/destination/<%=destDetail.id%>/edit"><button class="btn btn-danger d-inline">Edit</button></a>
                   
    </div>
    <% } %>

  </div>
</div>
 <div class="col-4 mt-5" >
  <form action="/destination/<%=destDetail.id%>/newreview" class="needs-validation" method="post" novalidate>
    <div class="form-group">
      <label for="ratingNew" class="form-label">Leave your review here!</label>
      <br>
      <fieldset class="starability-checkmark">
        <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="0" checked aria-label="No rating." />
        <input type="radio" id="second-rate1" name="review[rating]" value="1" />
        <label for="second-rate1" title="Terrible">1 star</label>
        <input type="radio" id="second-rate2" name="review[rating]" value="2" />
        <label for="second-rate2" title="Not good">2 stars</label>
        <input type="radio" id="second-rate3" name="review[rating]" value="3" />
        <label for="second-rate3" title="Average">3 stars</label>
        <input type="radio" id="second-rate4" name="review[rating]" value="4" />
        <label for="second-rate4" title="Very good">4 stars</label>
        <input type="radio" id="second-rate5" name="review[rating]" value="5" />
        <label for="second-rate5" title="Amazing">5 stars</label>
      </fieldset>
    </div>
    <div class="form-group">
      <label for="reviewNew">Review</label>
      <textarea class="form-control" id="reviewNew" name="review[reviewText]" placeholder="Leave your review here!" required></textarea>
    
    <div class="valid-feedback">
      Looks good!
    </div>
    <div class="invalid-feedback">
      Please provide a review
    </div>
  </div>
    <button type="submit" class="btn btn-primary mb-5">Submit</button>
  </form>

<% if (destDetail.reviews) { for(i=0;i<destDetail.reviews.length;i++){%>
<div class="card">
<div class="card-body">
  <p class="starability-result" data-rating=<%=destDetail.reviews[i].rating%>>
    Rated: 3 stars
  </p>

  <p class="card-text"><%=destDetail.reviews[i].reviewText%></p>
  <p>Submitted by @<%=destDetail.reviews[i].author.username%></p>
  <% if(currentUser && destDetail.reviews[i].author.equals(currentUser._id)) {%>
  <form method="post" action="/destination/<%=destDetail.id%>/review/<%=destDetail.reviews[i].id%>?_method=DELETE"><button class="btn btn-info">Delete</button></form>
  <% } %>
</div>
</div>
<% }} %>
</div>
</div>
</div>


<script>
  // Example starter JavaScript for disabling form submissions if there are invalid fields
  (function() {
    'use strict';
    window.addEventListener('load', function() {
      // Fetch all the forms we want to apply custom Bootstrap validation styles to
      var forms = document.getElementsByClassName('needs-validation');
      // Loop over them and prevent submission
      var validation = Array.prototype.filter.call(forms, function(form) {
        form.addEventListener('submit', function(event) {
          if (form.checkValidity() === false) {
            event.preventDefault();
            event.stopPropagation();
          }
          form.classList.add('was-validated');
        }, false);
      });
    }, false);
  })();
  </script>
