<% layout('layout/boilerplate.ejs') %>
    <h1>Edit your Destination!</h1>
    <form action="/destination/<%=destDetail.id%>/edit?_method=patch" method="post" >
        <label for="nameEdit">Name </label>
        <input type="text" id="nameEdit" name="name" value="<%=destDetail.name%>">
        <br><br>
        <label for="priceEdit">Price </label>
        <input type="number" id="priceEdit" name="price" value="<%=destDetail.price%>">
        <br><br>
        <label for="descEdit">Description </label>
        <br> 
        <textarea  id="descEdit" name="description" rows="7" cols="50"><%=destDetail.description%></textarea>
        <br><br>
        <label for="locationEdit">Location </label>
        <input type="text" id="locationEdit" name="location" value="<%=destDetail.location%>">
        <br><br>
        <button>Submit</button>

    </form>
